.projectDetails {
	font-size: 16px;
	width: 1000px;
	margin-left: -10px;
	margin-top: 10px;
	font-family: 'Segoe UI', Arial, sans-serif;
}

.maincontainer .middlebar {
	padding-top: 0px;
	padding-bottom: 10px;
}

.projectDetails a:visited, .projectDetails a {
	font-family: 'Segoe UI', Arial, sans-serif;
	font-style: normal;
	font-size: 30px;
}

.projectDetail {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	float: left;
	margin: 10px 10px 10px;
	padding: 2em;
	padding-top: 30px;
	position: relative;
	width: 40%;
	height: 150px;
	display: block;   
}

.projectDetail:before, .projectDetail:after {
  	content: "";
	position: absolute;
	z-index: -1;
}

.lifted:before, .lifted:after {
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform:rotate(-3deg);
    bottom: 15px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.698);
    height: 20%;
    left: 10px;
    max-height: 100px;
    max-width: 300px;
    width: 50%;
}

.lifted:after {
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform:rotate(3deg);
    left: auto;
    right: 10px;
}

.projectDetailsHeader {
	font-family: 'Segoe UI', Arial, sans-serif;
	margin-top: 0px;
	letter-spacing: 0;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	padding:2px 0px 2px 0px;
	border-bottom: 1px solid #ccc;
	background: rgba(255, 255, 255, .5);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.projectDetailsHeaderLeft {
	float: left;
}

.projectDetailsHeaderRight {
	float: right;
	padding-right: 5px;
}

.header_icons {
	width: 20px;
	opacity: 0.5;
	height: 15px;
}

.header_label, .projectDetailsHeaderRight .header_label a {
	padding-left: 2px;
	padding-right: 5px;
	font-size: 14px;
}
.projectDetailsHeader .projectDetailsHeaderRight p {
	padding-top: 0px;
	padding-bottom: 0px;
}

.projectDetailsHeader .projectDetailsHeaderLeft h3 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 0;
}

.projectDetail p label {
	color: #686341;
	font-weight:bold;

}

.projectDetail p {
	padding-top: 10px;
	margin-bottom: 0px;
}

.sections .projectDetail h3 a, .sections .projectDetail h3 a:visited{
	margin-left: 10px;
	font-size: 18px;
	font-style: normal;
}
